* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 970px;
    margin: 25px auto;
}

#wrapper h1 {
    padding: 20px;
}

#wrapper h2, #wrapper p {
    padding: 10px;
}

#wrapper input {
    height: 26px;
    padding: 0px 5px;
}

#wrapper button, #wrapper input[type="submit"] {
    width: 100px;
    height: 30px;
    margin: 20px 0px;
    cursor: pointer;
}
#wrapper ul {
    margin: 20px 50px;
}

