* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* #wrapper {
    width: 970px;
    margin: 25px auto;
}
#wrapper h1 {
    text-align: center;
} */

#wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

#wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

@media all and (max-width: 500px) {
    #wrapper {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

@media all and (max-width: 550px) {
    #wrapper #new_task { min-width: 550px; } 
    #wrapper #edit_layer { min-width: 550px; }
    #wrapper #tasks_list { min-width: 550px; }
    #wrapper #task_layer { min-width: 550px; }
}

@media all and (min-width: 600px) {
    #wrapper #new_task { flex: 1 auto; } 
    #wrapper #edit_layer { flex: 1 auto; }
    #wrapper #tasks_list { order: 3; }
    #wrapper #task_layer { height: 300px; }
}
  
@media all and (min-width: 1000px) {
    #wrapper #new_task { flex: 3 0px; } 
    #wrapper #edit_layer { flex: 3 0px; }
    #wrapper #tasks_list { flex: 3 0px; }
    #wrapper #task_layer { height: 650px !important; }
}
  
body {
    padding: 2em; 
}

#wrapper #new_task {
    max-width: 570px;
}

#wrapper #new_task, #wrapper #edit_layer, #wrapper #tasks_list {
    text-align: left;
}

#wrapper form {
    text-align: left;
    width: 100%;
    padding-bottom: 20px;
}

#wrapper .button_layer {
    text-align: right;
}

#wrapper .button_layer input[type="submit"]#wrapper .button_layer input[type="reset"] {
    margin: 10px 30px;
}

#wrapper #tasks_list {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

#wrapper #task_layer {
    overflow-y: auto;
    height: 300px;
}

#wrapper label {
    text-align: right;
    display: block;
    margin: 10px 0px;
}

#wrapper h1 {
    padding: 20px;
}

#wrapper h2, #wrapper p {
    padding: 10px;
}

#wrapper input {
    height: 26px;
    width: 359px;
    padding: 0px 5px;
    vertical-align: top;
}

#wrapper textarea {
    width: 350px;
    height: 100px;
    padding: 10px;
    vertical-align: top;
}

#wrapper button, #wrapper input[type="submit"], #wrapper input[type="reset"] {
    width: 100px;
    height: 30px;
    margin: 20px 0px;
    cursor: pointer;
}
#wrapper ul {
    margin: 20px 50px;
}

.task_card {
    border: 1px solid black;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 10px;
}

.card_item {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.actions_layer {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-left: 10px;
}

.actions_layer form {
    padding-bottom: 0px !important;
}

.actions_layer form input[type="submit"] {
    margin: 5px 0px !important;
}

#wrapper #edit_task form {
    text-align: right;
}

.hidden {
    display: none;
}