<div id="wrapper">
	<h1>Restful Tasks CRUD</h1>


  <div id="new_task" *ngIf="!singleTask.id">
    <h2>New Task:</h2>
    <form (submit)="createTask($event)">
      <label for="singleTask.title">Title: 
        <input type="text" name="singleTask.title" [(ngModel)]="singleTask.title" placeholder="Enter Task Title"></label>
      <label for="singleTask.description">Description: 
        <textarea name="singleTask.description" [(ngModel)]="singleTask.description" placeholder="Enter Task Description"></textarea></label>
     
      <div class="button_layer">
        <input type="submit" value="Create Task" />
      </div>
    </form>
  </div>

  <div id="edit_layer" *ngIf="singleTask.id && !singleTask.deleting">
    <h2>Edit Task: </h2>
    <form (submit)="updateTask($event)">
      <input type="text" name="singleTask.id" [(ngModel)]="singleTask.id" [value]="singleTask.id" class="hidden">
      <label for="singleTask.title">Title: 
        <input type="text" name="singleTask.title" [(ngModel)]="singleTask.title" [value]="singleTask.title" placeholder="Update Task Title"></label>
      <label for="singleTask.description">Description: 
        <textarea name="singleTask.description" [(ngModel)]="singleTask.description" [value]="singleTask.description" placeholder="Update Task Description"></textarea></label>

      <div class="button_layer">
        <input type="submit" value="Edit Task" />
        <input type="reset" value="Cancel" />
      </div>
    </form>
  </div>

  <div id="tasks_list">
    <h2>Task List: </h2>
    <div id="task_layer" *ngIf="tasks.length">
      <div class="task_card" *ngFor="let task of tasks.reverse()">
        <div class="card_item">
          <h3>{{task.title}}</h3>
          <p>{{task.description}}</p>
        </div>
        <div class="actions_layer">
          <form #form="ngForm" (submit)="editTask($event, form)">
              <input type="hidden" name="getId" ngModel [ngModelOptions]="task._id" [value]="task._id">
              <input type="submit" value="Edit" />
          </form>
          <form #form="ngForm" (submit)="deleteTask($event, form)">
              <input type="hidden" name="getId" ngModel [ngModelOptions]="task._id" [value]="task._id">
              <input type="submit" value="Delete" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form (submit)="getTask()">
  <input type="text" name="singleTask.id" [(ngModel)]="singleTask.id" placeholder="Enter Task ID">
  <input type="submit" value="Get Task" />
</form>
<select (change) = "testMe($event)">
  <option value="" disabled selected hidden>Select your task</option>
  <option *ngFor="let task of tasks" [value]="task._id">{{task.title}}</option>
</select>

<ul *ngIf="singleTask.title !== ''">
  <li>{{singleTask.title}} - {{singleTask.description}}</li>
</ul> -->